body {
  background-color: rgb(240, 209, 209);
  color: rgb(29, 29, 31);
  font-family: "Segoe UI", Roboto, Geneva, Verdana, sans-serif;
}

.topBar{
  display: block;
}
.menu {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: center;
  margin: 0 3rem;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
}

.formacion {
  display: flex;
  justify-content: center;
}
.containerFormacion {
  display: block;
  padding: 2rem;
  margin-top: 40rem;
  line-height: 1.5rem;
  font-size: large;
  color: rgb(29, 29, 31);
}

@media (max-width: 767px) {
  .titulo {
    justify-content: center;
  }
  .navigation {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .conteiner-sobremi {
    width: 100%;
    padding: 1;
    margin-top: 1rem;
    line-height: 2.5rem;
    font-size: small;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .titulo {
    justify-content: center;
  }
  .navigation {
    gap: 2rem;
    justify-content: center;
  }
  .experiencia,
  .estudios,
  .contacto {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .titulo {
    justify-content: flex-start;
  }
  .navigation {
    gap: 3rem;
    justify-content: flex-end;
    margin: 0 3rem;
  }
  .experiencia,
  .estudios,
  .contacto {
    width: 75%;
  }
}
