.experiencia {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: black;
}

.container-experiencia {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  line-height: 2.5rem;
  font-size: large;
  margin: 8rem;
}

/* Para celulares*/
@media (max-with: 767px) {
  .container-experiencia {
    width: 100%;
    margin: 0rem;
  }
  .experiencia {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    font-size: small;
  }
}

/*Para tablets*/
@media (min-width: 768px) and (max-width: 1023px) {
  .experiencia {
    width: 75%;
  }
}

/*Para escritorio*/
@media (min-width: 1024px) {
  .experiencia {
    width: 75%;
  }
}
